body {
  margin: 0;
  background-color: #f4fcf4;
}

nav {
  background-color: #04442c;
  position: fixed;
  top: 0;
  width: 100%;
  height: 4em;
  display: flex;
}

box-icon {
  width: 2.5em;
  height: 2.5em;
  margin: auto;
}

#welcome,
#quiz {
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 6em;
  margin-bottom: 2em;
}
