@keyframes blink {
  0% {
    background-color: hsl(0, 80%, 70%);
  }
  100% {
    background-color: transparent;
  }
}

@keyframes flashing {
  0% {
    background-color: red;
  }
  50% {
    background-color: cyan;
  }
  100% {
    background-color: red;
  }
}
