@keyframes blink {
  0% {
    background-color: hsl(0, 80%, 70%);
  }
  100% {
    background-color: transparent;
  }
}

@keyframes flashing {
  0% {
    background-color: #04442c;
  }
  50% {
    background: darkred;
  }
  100% {
    background: #04442c;
  }
}
