body {
  background-color: #262626;
  color: #eeeeee;
  .page {
    footer {
      #footer {
        #links {
          a {
            padding: 2px 6px 2px 6px;
            border-radius: 6px;
            background-color: rebeccapurple;
            color: #fff;
          }
        }
        #github .bx {
          color: rebeccapurple;
          background-color: #e0e0e0;
          border-radius: 50%;
        }
      }
    }
  }
}

input {
  accent-color: rebeccapurple;

  /* if hover is available */
  @media not all and (hover: none) {
    &:enabled:hover {
      transform: scale(1.3);
    }
  }
}
select {
  background-color: #262626;
  color: #f0f0f0;
}

#coverage,
.unsure-label {
  color: hsl(0, 0%, 70%) !important;
}

table,
th,
td {
  outline: solid 1px #0f0116;
}

#main #license-notice {
  #hawaiian {
    /* Make the license image a little nicer on the eyes. */
    opacity: 75%;
  }
  #license-text {
    background-color: #262626;
    color: #f0f0f0;
  }
  #license-agree-text {
    color: #0f0116;
  }
  #license-disagree-btn #license-disagree-text {
    color: #c0c0c0;
  }
}

#quiz .learned-tag {
  color: hsl(151, 60%, 50%);
}

.explanation-container {
  div.explanation:not(.empty) {
    color: hsl(60, 90%, 80%);

    & ~ .bx {
      color: hsl(60, 90%, 80%);
    }
  }

  textarea.explanation {
    background-color: #262626;
    color: #fff;
  }
}

#quiz[submitted="true"] {
  .question-choices {
    li:has(+ li.correct) {
      margin-bottom: calc(0.4rem - 3px);
    }

    li.correct {
      margin: calc(0.4rem - 3px);

      label {
        padding: 3px;
        border-radius: 6px;
        background-color: #1ed96f24;
        color: #11ce73;
      }
    }

    li.correct + li {
      margin-top: calc(0.4rem - 3px);
    }
  }

  .question {
    @media not print {
      &.wrong-answer .question-title {
        background-color: #f133331f;
        color: #df0c33;
      }
    }
  }
}

.question {
  @media not print {
    .question-title {
      margin-left: -3px;
      padding: 3px;
      border-radius: 6px;
    }

    &.unsure .question-title {
      background-color: #d0c31222;
      color: #dfdf0c;
    }
  }
}

.panel {
  color: #eee;
  opacity: 90%;
  background-color: #363636;
}

#review-panel {
  box-shadow: 0px 2px 8px #00000065;
}

#navbar {
  box-shadow: 0px -2px 8px #00000065;
}
#attempts-table-container {
  #attempts-table {
    td.timestamp {
      color: cyan !important;
    }
  }
  .bx {
    background-color: #262626;
  }
}

@keyframes blink {
  0% {
    background-color: hsl(0, 50%, 50%);
  }
  100% {
    background-color: #262626;
  }
}
