#home-page {
  display: flex;
  justify-content: space-between;

  min-height: calc(100vh - 6.5rem);
  @media (width < 600px) {
    min-height: calc(100vh - 6rem);
  }
  @media (width < 450px) {
    min-height: calc(100vh - 5.5rem);
  }

  > h1 {
    display: none;
  }

  h1 {
    font-size: 2rem;
    @media (width < 600px) {
      font-size: 1.75rem;
    }
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

  form {
    max-width: 375px;
    @media (width < 600px) {
      max-width: 358px;
    }
    @media (width < 450px) {
      max-width: 341px;
    }

    > div {
      margin-bottom: 1.6rem;

      @media (width < 600px) {
        margin-bottom: 1.55rem;
      }

      @media (width < 450px) {
        margin-bottom: 1.5rem;
      }
    }

    label:has(input:disabled) span {
      color: gray;
    }

    #exam-selection {
      margin-top: 2.5rem;
      &:not(.visible) + #module-selection {
        margin-top: 3rem;
      }

      @media (width < 600px) {
        margin-top: 2rem;
        &:not(.visible) + #module-selection {
          margin-top: 2.5rem;
        }
      }

      input + span {
        text-transform: capitalize;
      }
    }

    #module-selection {
      white-space: nowrap;

      #coverage {
        color: gray;
      }

      &:not(:has(.coverage.visible)) {
        #coverage {
          display: none;
        }
      }

      #modules-header {
        display: flex;
        justify-content: space-between;
      }

      li {
        display: flex;
        justify-content: space-between;

        .coverage {
          margin-left: 0.5rem;
          margin-right: 0.15rem;
          border-radius: 15%;
          padding: 0 0.25rem;
        }
      }

      &:not(:has(.ongoing.visible)) .ongoing {
        display: none;
      }
      .ongoing {
        color: hsl(0, 100%, 45%);
      }
    }

    #other-options {
      &:not(:has(.visible)) {
        display: none;
      }
      @media (width >= 450px) {
        white-space: nowrap;
      }
    }
  }
}
