#home-page {
  display: flex;
  justify-content: space-between;
  min-height: 90vh;

  > h1 {
    display: none;
  }

  h1 {
    font-size: 2rem;
    @media (width < 600px) {
      font-size: 1.75rem;
    }
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

  form {
    max-width: 400px;

    h1 > br {
      display: none;
    }

    > div {
      margin-bottom: 1.2rem;
    }

    label:has(input:disabled) span {
      color: gray;
    }

    ul {
      margin: 0.4rem 0;
    }

    #exam-selection {
      margin-top: 2.4rem;
      &:not([visible]) + #module-selection {
        margin-top: 2.8rem;
      }

      @media (width < 600px) {
        margin-top: 2rem;
        &:not([visible]) + #module-selection {
          margin-top: 2rem;
        }
      }

      input + span {
        text-transform: capitalize;
      }
    }

    #module-selection {
      #coverage {
        color: gray;
      }

      &:not(:has(.coverage[visible])) {
        #coverage {
          display: none;
        }
      }

      #modules-header {
        display: flex;
        justify-content: space-between;
      }

      li {
        display: flex;
        justify-content: space-between;

        .coverage {
          margin-left: 0.5rem;
          border-radius: 20%;
          padding: 0 0.2rem;
        }
      }
    }

    #other-options:not(:has([visible])) {
      display: none;
    }
  }
}
