input {
  width: 1rem;
  height: 1rem;

  /* if hover is available */
  @media not all and (hover: none) {
    &:enabled:hover {
      transform: scale(1.2);
    }
  }

  ~ span {
    margin-left: 0.25rem;
  }
}

#home-page label:has(input:disabled, select:disabled) span {
  color: gray;
}
