#home-page > h1 {
  display: none;
}

#main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  #license-notice {
    display: none;
    position: relative;
    height: 80vh;

    #hawaiian {
      height: 100%;
      object-fit: contain;
    }
    #license-text {
      font-size: 4vh;
      text-align: center;
      position: absolute;
      bottom: 8vh;
      background-color: hsla(120, 24%, 96%);
    }
    #license-agree-btn {
      display: flex;
      position: absolute;
      bottom: 2.5vh;
      width: 40%;
      height: 8vh;
      left: 30%;
      align-items: center;
      cursor: pointer;
      animation: flash 1.25s infinite ease-in-out;

      #license-agree-text {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 4vh;
        font-weight: bold;
        margin: auto;
      }

      &:hover {
        animation: none;
        background-color: hsl(120, 80%, 70%);
      }
    }
    #license-disagree-btn {
      position: absolute;
      bottom: 1.5vh;
      right: 1.5vh;

      #license-disagree-text {
        cursor: pointer;
        font-size: 1vh;
        margin: 0;
      }

      /* if hover is available */
      @media not all and (hover: none) {
        &:hover {
          #license-disagree-text {
            color: red;
          }
        }
      }
    }
  }
}

@media (aspect-ratio < 1.3) {
  #home-page > h1 {
    display: block;
  }

  #main {
    flex-direction: column-reverse;
    gap: 0;

    & > h1 {
      display: block;
    }
    form > h1 {
      display: none;
    }

    #license-notice {
      height: auto;
      width: calc(100vw-6rem);
      max-width: 408px;
      margin: 0;

      #hawaiian {
        width: 100%;
      }
      #license-text {
        font-size: min(6vw, 36px);
        bottom: min(10vw, 60px);
      }
      #license-agree-btn {
        bottom: min(3vw, 20px);
        height: min(10vw, 60px);

        #license-agree-text {
          font-size: min(5vw, 36px);
        }
      }
      #license-disagree-btn {
        bottom: min(2vw, 0.75rem);
        right: min(2vw, 0.75rem);

        #license-disagree-text {
          font-size: min(1.5vw, 0.5rem);
        }
      }
    }
  }
}
