ul {
  list-style-type: none;

  padding-inline-start: 1.75rem;
  @media (width < 600px) {
    padding-inline-start: 1.5rem;
  }
  @media (width < 450px) {
    padding-inline-start: 1.25rem;
  }

  li {
    margin: 0.5rem 0;
    @media (width < 600px) {
      margin: 0.4rem 0;
    }
    @media print {
      margin: 0.3rem 0;
    }
  }
}
