body {
  font-family: sans-serif;
  font-size: 1.1rem;

  margin: 0;
  background-color: hsl(120, 28%, 95%);

  .page {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;

    @media screen {
      & > h1,
      #main,
      #quiz,
      #attempts-table-container,
      footer {
        margin-left: auto;
        margin-right: auto;
        width: 900px;
        max-width: 100%;
      }
      #quiz {
        margin: 1rem auto;
      }
    }

    h1 {
      margin-bottom: 2.5rem;
    }

    footer {
      margin-top: 2rem;
    }
  }
}

@media (width < 600px) {
  body {
    font-size: 1.05rem;

    .page {
      margin-left: 2rem;
      margin-right: 2rem;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }
}
@media (width < 450px) {
  body {
    font-size: 1rem;

    .page {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      margin-top: 1rem;
      margin-bottom: 1rem;

      > h1 {
        font-size: 7vw;
      }
    }
  }
}

@media print {
  body {
    font-size: 1rem;
    background-color: white;

    #quiz-page {
      margin: 1rem !important;
    }
  }
}
