.panel {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  position: fixed;
  z-index: 1;
  background-color: #04442c;
  color: hsl(120, 28%, 95%);
  height: 2.5rem;

  span {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }
}

#review-panel {
  top: 0;

  &[visible] ~ .page {
    margin-top: 4rem;
  }

  > div {
    display: flex;
    flex-direction: column;
    font-size: 0.85rem;
    align-items: center;
    font-weight: bold;

    .bx {
      font-size: 1.5rem;
    }
  }
}

nav {
  bottom: 0;

  &[visible] ~ .page {
    margin-bottom: 3.5rem;
  }

  .bx {
    font-size: 2rem;
  }
}

@media print {
  .panel {
    display: none;
  }
}
