#quiz-page {
  .highlighted .questionTitle {
    background-color: yellow;
  }

  .questionText {
    text-decoration: none;
    cursor: help;

    @media not all and (hover: none) {
      &:hover .questionTitle {
        color: red;
      }
    }
  }

  .explanation {
    margin-left: 1.5rem;
    display: none;
    color: blue;
  }

  .submitted {
    li.correct label {
      background-color: hsl(120, 80%, 80%);
    }
    .incorrect .questionTitle {
      background-color: hsla(0, 80%, 75%, 75%) !important;
    }
    .highlighted,
    .incorrect {
      & ~ .explanation {
        display: block;
      }
    }
  }

  figure {
    margin: 0;

    img {
      width: 100%;
      max-width: 900px;
    }
  }

  @media (pointer: none), (pointer: coarse) {
    .explanation {
      margin-left: 0.75rem;
    }
  }

  .question {
    &:not(:last-child) {
      margin-bottom: 2.5rem;
    }
  }
}
