.question {
  margin-bottom: 2.5rem;

  &:last-child {
    margin-bottom: 0rem;
  }

  &.unsure .question-title {
    background-color: yellow;
  }

  .question-header {
    display: flex;
    justify-content: space-between;

    .AI-label {
      color: grey;

      @media (width >= 450px) {
        margin-left: 0.5rem;
      }
    }

    .unsure-label {
      color: gray;
    }
  }

  .question-body {
    margin: 0.5rem 0;
  }

  figure {
    margin: auto;
    img {
      width: 100%;
    }
  }

  .explanation-container {
    display: none;
    margin-left: 2rem;
    width: calc(100% - 2rem);

    div.explanation {
      color: blue;
      width: calc(100% - 3rem);

      & ~ .bx {
        display: block;
        margin: auto;
        margin-right: 0;
        font-size: 1.6rem;
        color: blue;
      }

      & ~ .bx-loader {
        display: none;
      }

      &.empty {
        color: gray;

        & ~ .bx {
          color: grey;
        }
      }

      &.editing {
        &.empty {
          visibility: hidden;
        }
        &:not(.empty) {
          color: rgb(127, 127, 255);
        }

        & ~ .bx-edit {
          display: none;
        }
        & ~ .bx-loader {
          display: block;
        }
      }
    }

    @media (width < 700px) {
      margin-left: 0;
      width: 100%;

      div.explanation {
        width: calc(100% - 2.5rem);
      }
    }

    @media (width < 600px) {
      div.explanation {
        width: calc(100% - 2rem);

        & ~ .bx {
          font-size: 1.5rem;
        }
      }
    }

    @media (width < 525px) {
      #placeholder-expansion {
        display: none;
      }
    }

    @media (width < 450px) {
      div.explanation {
        width: calc(100% - 1.5rem);

        & ~ .bx {
          font-size: 1.4rem;
        }
      }
    }
  }

  form {
    position: relative;

    .explanation {
      width: 100%;
      font-size: 1rem;
    }

    button {
      bottom: 0;
      position: absolute;
      font-weight: bold;
      font-size: 1rem;
    }
    button[type="reset"] {
      right: 5rem;
      background-color: hsla(0, 80%, 80%);
    }
    button[type="submit"] {
      right: 0;
      background-color: hsla(120, 80%, 75%);
    }

    @media (width < 600px) {
      .explanation,
      button {
        font-size: 0.92rem;
      }
      button[type="reset"] {
        right: 4.6rem;
      }
    }

    @media (width < 450px) {
      .explanation,
      button {
        font-size: 0.83rem;
      }
      button[type="reset"] {
        right: 4.2rem;
      }
    }
  }
}

.submitted {
  li.correct label {
    background-color: hsl(120, 80%, 80%);
  }

  .question {
    &.wrongAnswer .question-title {
      background-color: hsla(0, 80%, 75%, 75%);
    }

    &.unsure,
    &.wrongAnswer {
      .explanation-container {
        display: flex;
      }
    }
  }
}

@media print {
  .question-title {
    background-color: transparent !important;
  }

  .unsure-label {
    display: none !important;
  }

  .explanation-container {
    display: flex !important;
  }

  .explanation-container:has(.explanation.empty) {
    display: none !important;
  }

  .explanation ~ .bx {
    display: none !important;
  }
}
