.question {
  &:not(:last-child) {
    margin-bottom: 2.25rem;
  }

  &.unsure .questionTitle {
    background-color: yellow;
  }

  .questionText {
    display: block;
    text-decoration: none;
    cursor: help;

    @media not all and (hover: none) {
      &:hover .questionTitle {
        color: red;
      }
    }
  }

  figure {
    margin: 0;
    img {
      width: 100%;
      max-width: 900px;
    }
  }

  .explanation {
    margin-left: 1.5rem;
    display: none;
    color: blue;
  }
  @media (pointer: none), (pointer: coarse) {
    .explanation {
      margin-left: 0.75rem;
    }
  }
}

.submitted {
  li.correct label {
    background-color: hsl(120, 80%, 80%);
  }

  .question {
    &.wrongAnswer .questionTitle {
      background-color: hsla(0, 80%, 75%, 75%) !important;
    }

    &.unsure,
    &.wrongAnswer {
      .explanation {
        display: block;
      }
    }
  }
}
