body {
  font-size: 14pt;
  margin: 0;
  background-color: #f4fcf4;
}

nav {
  position: fixed;
  top: 0;
  background-color: #04442c;
  width: 100%;
  height: 3em;
  display: flex;
}
#home-page,
#quiz-page {
  display: flex;
  flex-direction: column;
}

#result-panel {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3em;
  display: flex;
}

#result-panel > p {
  margin: auto;
  font-size: 1.5em;
}

box-icon {
  width: 2em;
  height: 2em;
  margin: auto;
}

body > div {
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 4em;
  margin-bottom: 4em;
}

input {
  width: 1.15em;
  height: 1.15em;
}
select {
  font-size: 12pt;
}
ul label {
  display: inline-block;
  margin-left: 0.2em;
  width: 95%;
}
ul {
  list-style-type: none;
  padding-inline-start: 1.5em;
}
li {
  margin: 0.5em;
}
li:hover input:enabled {
  transform: scale(1.2);
}

.submitted input.correct + label span {
  background-color: hsl(100, 80%, 70%);
}
.submitted input.correct:not(:checked) {
  outline: 0.25em solid rgb(0, 127, 0);
}
.submitted .incorrect.question > p > b {
  background-color: hsla(0, 80%, 70%, 75%);
}

table {
  border-collapse: collapse;
  width: 66%;
  text-align: center;
}
td,
th {
  border: 1.2pt solid black;
}
td:first-child {
  width: 33%;
}

@keyframes blink {
  0% {
    background-color: hsl(0, 80%, 70%);
  }
  100% {
    background-color: transparent;
  }
}
