body {
  font-size: 1.2rem;
  margin: 0;
  background-color: hsl(120, 24%, 96%);
}

nav {
  position: fixed;
  top: 0;
  background-color: #04442c;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: hsl(120, 24%, 96%);
}
#attempt {
  visibility: hidden;
  font-weight: bold;
}
#home-page,
#quiz-page {
  display: flex;
  flex-direction: column;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3rem;
  background-color: hsl(120, 24%, 96%);
  display: flex;
}
footer > p {
  text-align: center;
  margin: auto;
}
#result {
  font-size: 1.5rem;
}
#license {
  font-size: 1rem;
}
#moduleALLSelect + span {
  font-weight: bold;
}
box-icon {
  width: 2rem;
  height: 2rem;
  margin: auto;
}

body > div {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

input {
  width: 1rem;
  height: 1rem;
}
select {
  font-size: 1rem;
}
ul label span {
  margin-left: 0.25rem;
}
ul {
  list-style-type: none;
  padding-inline-start: 1.5rem;
}
li {
  margin: 0.5rem;
}
@media not all and (hover: none) {
  input:hover:enabled {
    transform: scale(1.2);
  }
  #license a {
    color: inherit;
    text-decoration: none;
  }
  #license a:hover {
    text-decoration: underline;
  }
}

.submitted li.correct label {
  background-color: hsl(120, 80%, 75%);
}
.submitted .incorrect.question > p > b {
  background-color: hsla(0, 80%, 75%, 75%);
}

table {
  border-collapse: collapse;
  width: 66%;
  text-align: center;
}
td,
th {
  border: 1.2pt solid black;
}
td:first-child {
  width: 33%;
}

@keyframes blink {
  0% {
    background-color: hsl(0, 80%, 70%);
  }
  100% {
    background-color: transparent;
  }
}

@media (pointer: none), (pointer: coarse) {
  body {
    font-size: 1.1rem;
  }
  #license {
    font-size: 0.8rem;
  }
  nav {
    height: 3.5rem;
  }
  box-icon {
    width: 2.25rem;
    height: 2.25rem;
  }
  body > div {
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
  }
  table {
    width: 100%;
  }
}
