table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
  word-break: break-word;

  td,
  th {
    border: 1.2pt solid black;
  }
}

#attempts-table-container {
  position: relative;

  &:not(:has(.row[visible])) {
    display: none;
  }

  box-icon {
    position: absolute;
    background-color: hsl(120, 28%, 95%);
    border-radius: 50%;

    height: 1.9rem;
    width: 1.9rem;
    top: -0.75rem;
    right: -0.75rem;

    @media (width < 600px) {
      height: 1.75rem;
      width: 1.75rem;
      top: -0.68rem;
      right: -0.68rem;
    }

    @media (width < 450px) {
      height: 1.59rem;
      width: 1.59rem;
      top: -0.62rem;
      right: -0.62rem;
    }
  }

  /* if hover is available */
  @media not all and (hover: none) {
    &:not(:hover) box-icon {
      display: none;
    }
  }

  #attempts-table {
    td.timestamp {
      cursor: pointer;
      color: blue;

      /* if hover is available */
      @media not all and (hover: none) {
        &:hover {
          text-decoration: underline;
        }
      }
    }

    @media (width < 700px) {
      :has(.modules[visible="true"]) {
        .result .percentage {
          display: none;
        }
      }
    }
    @media (width < 600px) {
      :has(.modules[visible="true"]) {
        .duration {
          display: none;
        }
      }
    }
    @media (width < 500px) {
      .result .percentage {
        display: none;
      }
    }
    @media (width < 400px) {
      .modules,
      .duration {
        display: none;
      }

      .result .percentage {
        display: initial;
      }
    }
  }
}
