table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
  word-break: break-word;

  td,
  th {
    border: 1.2pt solid black;

    @media (width >= 450px) {
      &.attempt {
        width: 110px;
      }
      &.banks {
        width: 170px;
      }
    }

    @media (width < 700px) {
      &.banks {
        display: none;
      }
    }

    @media (width < 450px) {
      &.modules {
        display: none;
      }
    }
  }

  td.attempt {
    cursor: pointer;
    color: blue;
    font-weight: bold;

    /* if hover is available */
    @media not all and (hover: none) {
      font-weight: normal;

      &:hover {
        font-weight: bold;
      }
    }
  }
}
